textarea {
	width: 100%;
}

.toggle-run-query {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;

	.toggle-label {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

.query-results {
	> div {
		padding: 10px;
		background-color: #f5f5f5;
		margin: 10px 0;
		border: 1px solid #e1e1e1;
		border-radius: 10px;

		> div {
			margin-bottom: 5px;

			strong {
				font-weight: bold;
			}
		}
	}
}
